{% extends 'general/base.html' %}

{% block toolbar %}
{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">ExperimentTag</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div class="chart-area">
                <ul>
                    <li>First: Enter in upload image menu</li>
                    <li>Sencond: Press create project</li>
                    <li>Third: Select the new project</li>
                    <li>Fourth: Upload images</li>
                    <li>Fifth: enter in menu Tag images</li>
                    <li>Sixth: Select the new project</li>
                    <li>Seventh: Tag the images</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}