{% extends 'general/base.html' %}

{% block toolbar %}
{% endblock %}

{% block content %}
    <!-- Result modal-->
    <div class="modal fade" id="result_modal" tabindex="-1" role="dialog" aria-labelledby="modalResultLabel"
        aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalResultLabel">Result of the exportation</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    Imported <span id="num_added_images"></span> images.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Export {{ format }}:&nbsp;{{ project_id.split('_')[0] | replace("p","Project ") }}:&nbsp;{{ project_name }}</h1>
        <a id="btn_export"
           href="#" 
           class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"  >
            <i class="fa-solid fa-folder-plus fa-sm text-white-50"></i> 
            Export project
        </a>
        <a id="btn_download_file" style="display: none;" ></a>
    </div>

    <form id="form_upload" name="form_upload" action="" method="POST" enctype="multipart/form-data">
        <div class="card border-left-success shadow h-100 py-2 mt-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Valid images percentage
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <input id="input_valid_percentage" type="range" min="0" max="100" value="{{valid_percentage}}" {% if valid_disabled %}disabled="disabled"{% endif %} />
                            <span id="span_valid_percentage">{{valid_percentage}}%</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Test images percentage
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <input id="input_test_percentage" type="range" min="0" max="100" value="{{test_percentage}}" {% if test_disabled %}disabled="disabled"{% endif %} />
                            <span id="span_test_percentage">{{test_percentage}}%</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Train images percentage
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <input id="input_train_percentage" type="range" min="0" max="100" value="{{train_percentage}}" {% if train_disabled %}disabled="disabled"{% endif %} />
                            <span id="span_train_percentage">{{train_percentage}}%</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Images to export
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <input id="input_all_images" name="images_to_export" type="radio" value="all_images" checked="checked">
                            <label for="html">All images</label><br>
                            <input id="input_only_with_tags" name="images_to_export" type="radio" value="only_with_tags" {% if train_disabled %}disabled="disabled"{% endif %}>
                            <label for="css">Only with tags</label><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


{% endblock %}

{% block bottom %}
    <script src="{{ url_for('static', filename='js/export_project.js') }}"></script>
    <script type="text/javascript">
        const URL_DOWNLOAD_PROJECT = "{{ url_for('project.export_project_download',format=format, project_id=project_id) }}"

        $(document).ready(function() {
            on_load_document();
        });

    </script>
{% endblock %}